.Header {
  background-color: #039be5;
  height: 3em;
  display: flex;
  justify-content: space-between;
  color: white;
}

.Header_Left,
.Header_Center,
.Header_Right {
  margin-top: 6px;
  margin-bottom: 6px;
}

.Header_Left {
  margin-left: 3px;
}

.Header_Right {
  margin-right: 3px;
}

.Header_Center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header_Center > h3 {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
